* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.all-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
}

.container-fluid {
    max-width: 1500px;
    margin: auto;
}

/* Hero Section*/
.bold {
    font-weight: bold;
}

h1, h2, h3 {
    text-align: center;
    margin: 3rem 0;
    padding: 0 20px;
}

h1 {
    font-size: clamp(3rem, 6vw, 4rem);
    margin: 3rem;
    margin-bottom: 1rem;
}

h3 {
    text-align: left;
}

.trivia-cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.card {
    min-width: 300px;
    max-width: 600px;
}

@media screen and (max-width: 768px) {
    .trivia-cards {
        flex-direction: column;
    }
}


footer p {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 20px;
    margin: 0;
    margin-top: 20px;
}