p {
    margin: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid{
    max-width: 1500px;
    margin: auto;
    position: relative;
}

.dropdown-menu[data-bs-popper] {
    left: -60px;
}

.header {
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

h1 {
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    margin: 0;
}

button {
    margin-bottom: 10px;
}

button {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.free-response {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}

#final-text {
    font-size: 3rem;
    color: #12ac12c5;
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
}

footer p {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 20px;
    margin: 0;
    margin-top: 20px;
}